<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <h2>메인페이지</h2>

    <!-- 알림 설정 페이지로 이동하는 버튼 -->
    <form action="{% url 'notification-settings' %}" method="get">
        <button type="submit">알림 설정</button>
    </form>


    <h3>읽지 않은 알림</h3>
    <p>읽지 않은 알림 수: {{ unread_alarms|length }}</p>

    <ul>
        {% for alarm in unread_alarms %}
            <li>
                {{ alarm.message }} (생성 시각: {{ alarm.created_at|date:"Y-m-d H:i" }})
            </li>
        {% empty %}
            <li>읽지 않은 알림이 없습니다.</li>
        {% endfor %}
    </ul>


</body>
</html>
